.navigation
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(251, 231, 156);
}

.navButton
{
    float: left;
    cursor: pointer;
}

.navText:hover {
  background-color: yellow;
}

.navText
{
    display: block;
    color: rgb(247, 163, 39);
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

.navLogo
{
    width: 50px;
}

.footer
{
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(251, 231, 156);
}

.footerText
{
    display: block;
    color: rgb(247, 163, 39);
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    float: left;
}

.currentHighlight
{
    background-color: black;
}